<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HelloWcfService.SignService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/HelloWcfService" />
          </baseAddresses>
        </host>
        <endpoint 
          address="" 
          binding="basicHttpBinding" 
          contract="HelloWcfService.ISignService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint 
          address="ws" 
          binding="wsHttpBinding" 
          contract="HelloWcfService.ISignService">
        </endpoint>
        <endpoint 
          address="net.tcp://localhost:8081/HelloWcfService" 
          binding="netTcpBinding" 
          contract="HelloWcfService.ISignService">
        </endpoint>
      <endpoint 
        address="mex" 
        binding="mexHttpBinding" 
        contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
