<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add 
      name="ConnectionString" 
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DotNetSaleCom;Integrated Security=True;" 
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBreadShopOf_CategoryBase" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49890/Categories/CategoryBaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBreadShopOf_CategoryBase"
                contract="CategoryBaseServiceReference.IBreadShopOf_CategoryBase"
                name="BasicHttpBinding_IBreadShopOf_CategoryBase" />
        </client>
    </system.serviceModel>
</configuration>