<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISignService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISignService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISignService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloWcfService" 
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_ISignService" 
                      contract="HelloWcfServiceReference.ISignService"
                      name="BasicHttpBinding_ISignService" />
            <endpoint address="http://localhost:8080/HelloWcfService/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISignService"
                contract="HelloWcfServiceReference.ISignService" name="WSHttpBinding_ISignService">
                <identity>
                    <userPrincipalName value="VISUALACADEMY\RedPlus" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/HelloWcfService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISignService"
                contract="HelloWcfServiceReference.ISignService" name="NetTcpBinding_ISignService">
                <identity>
                    <userPrincipalName value="VISUALACADEMY\RedPlus" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>